@charset "utf-8";
/* CSS Document */



#balls{
	width:200px;
	left: 50%;
	height:200px;
	margin:-110px 0 0 -110px;
	position:absolute;
	top:50%;
	
	background-color:#bad600;
	border:10px solid #000;
	border-radius:110px;
	
	font-size:8em;
	font-weight:bold;
	line-height:175px;
	text-align:center;
	vertical-align:middle;
	
	
}

#button{
	
}